Node Red Flows/Node red flows.json
[
    {
        "id": "85cc2a39ca352ab1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1e3e296f3e0f9a90",
        "type": "ui_text",
        "z": "85cc2a39ca352ab1",
        "group": "60e87899b7a4ce34",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Nitrogen",
        "format": "{{msg.payload}} mg/kg",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Verdana,Verdana,Geneva,sans-serif",
        "fontSize": "20",
        "color": "#2f3532",
        "x": 800,
        "y": 280,
        "wires": []
    },
    {
        "id": "9340d4914a9b1973",
        "type": "ui_text",
        "z": "85cc2a39ca352ab1",
        "group": "60e87899b7a4ce34",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Phosphorus",
        "format": "{{msg.payload}} mg/kg",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Verdana,Verdana,Geneva,sans-serif",
        "fontSize": "20",
        "color": "#2f353a",
        "x": 790,
        "y": 360,
        "wires": []
    },
    {
        "id": "5453129bf6a7f860",
        "type": "ui_text",
        "z": "85cc2a39ca352ab1",
        "group": "60e87899b7a4ce34",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Potassium",
        "format": "{{msg.payload}} mg/kg",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Verdana,Verdana,Geneva,sans-serif",
        "fontSize": "20",
        "color": "#2f353a",
        "x": 790,
        "y": 440,
        "wires": []
    },
    {
        "id": "f37e5111a50ba5d6",
        "type": "mqtt in",
        "z": "85cc2a39ca352ab1",
        "name": "Nitrogen",
        "topic": "n",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bc94088bc4bb4702",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 520,
        "y": 280,
        "wires": [
            [
                "1e3e296f3e0f9a90"
            ]
        ]
    },
    {
        "id": "14898410351165b7",
        "type": "mqtt in",
        "z": "85cc2a39ca352ab1",
        "name": "Phosphorus",
        "topic": "p",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bc94088bc4bb4702",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 530,
        "y": 360,
        "wires": [
            [
                "9340d4914a9b1973"
            ]
        ]
    },
    {
        "id": "7e842e0b156b57f3",
        "type": "mqtt in",
        "z": "85cc2a39ca352ab1",
        "name": "Potassium",
        "topic": "k",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bc94088bc4bb4702",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 520,
        "y": 440,
        "wires": [
            [
                "5453129bf6a7f860"
            ]
        ]
    },
    {
        "id": "f3d5fa4308709ee0",
        "type": "ui_text",
        "z": "85cc2a39ca352ab1",
        "group": "e90d0d29b753f2b9",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Voltage",
        "format": "{{msg.payload}} Volt",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Verdana,Verdana,Geneva,sans-serif",
        "fontSize": "20",
        "color": "#2f353a",
        "x": 800,
        "y": 540,
        "wires": []
    },
    {
        "id": "da8ee8e391fc714a",
        "type": "ui_text",
        "z": "85cc2a39ca352ab1",
        "group": "e90d0d29b753f2b9",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current",
        "format": "{{msg.payload}} Amp",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Verdana,Verdana,Geneva,sans-serif",
        "fontSize": "20",
        "color": "#2f353a",
        "x": 800,
        "y": 620,
        "wires": []
    },
    {
        "id": "30e626de23dfa8b2",
        "type": "ui_text",
        "z": "85cc2a39ca352ab1",
        "group": "e90d0d29b753f2b9",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Frequency",
        "format": "{{msg.payload}} Hz",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Verdana,Verdana,Geneva,sans-serif",
        "fontSize": "20",
        "color": "#2f353a",
        "x": 790,
        "y": 700,
        "wires": []
    },
    {
        "id": "aa2a9ab40548b939",
        "type": "mqtt in",
        "z": "85cc2a39ca352ab1",
        "name": "Voltage",
        "topic": "v",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bc94088bc4bb4702",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 510,
        "y": 540,
        "wires": [
            [
                "f3d5fa4308709ee0"
            ]
        ]
    },
    {
        "id": "c280935c0d5331a3",
        "type": "mqtt in",
        "z": "85cc2a39ca352ab1",
        "name": "Current",
        "topic": "c",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bc94088bc4bb4702",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 510,
        "y": 620,
        "wires": [
            [
                "da8ee8e391fc714a"
            ]
        ]
    },
    {
        "id": "7d1863107564c08d",
        "type": "mqtt in",
        "z": "85cc2a39ca352ab1",
        "name": "Frequency",
        "topic": "f",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bc94088bc4bb4702",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 520,
        "y": 700,
        "wires": [
            [
                "30e626de23dfa8b2"
            ]
        ]
    },
    {
        "id": "60e87899b7a4ce34",
        "type": "ui_group",
        "name": "NPK sensor",
        "tab": "4b5d3236d2f4dced",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bc94088bc4bb4702",
        "type": "mqtt-broker",
        "name": "mqtt-broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e90d0d29b753f2b9",
        "type": "ui_group",
        "name": "Energy Meter Reading",
        "tab": "54f7457971a436f6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4b5d3236d2f4dced",
        "type": "ui_tab",
        "name": "Sensor Tab",
        "icon": "settings_input_svideo",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "54f7457971a436f6",
        "type": "ui_tab",
        "name": "Equipment Readings",
        "icon": "settings_remote",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]